#Home{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

header {
    align-self: stretch;
}

.logo-homepage {
    margin-left: auto;
    text-align: right;
}

.logo-homepage > img {
    width: 15em;
    margin: 1.5em 1.5em;
}

#content {
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: darkgrey;
}
::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

@media only screen and (max-device-width: 420px){
    #Home {
        flex-direction: column;
        height: 101vh;
    }

    .logo-homepage {
        display: none;
    }

    .content-add {
        display: block;
        height: 94.5vh;
    }

    .content-add > form {
        height: 80vh;
    }
}
